__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.venv
venv/
dist/
*.egg-info/
.pytest_cache/

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md


#Ignore cursor AI rules
.cursor/rules/codacy.mdc

.DS_Store
Thumbs.db
*.tmp
.vscode/
.idea/